.sidebarmenu {
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  &_item {
    display: flex;
    margin-bottom: 20px;
    &_text {
      margin-left: 10px;
      font-family: Inter, Helvetica, 'sans-serif';
      font-weight: bold;
      font-size: 15px;
      color: #5E6278;
    }
  }

} 